<p id="notice"><%= notice %></p>


  <div class="image_upload">
    <% if @recommendation.image_upload.attached? %>
      <%= image_tag @recommendation.image_upload, width: 200 %>
    <% end %>
  </div>

<p>
  <strong>User:</strong>
  <%= @recommendation.user.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @recommendation.number %>
</p>

<p>
  <strong>Issuer:</strong>
  <%= @recommendation.issuer %>
</p>

<p>
  <strong>State:</strong>
  <%= @recommendation.state %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= @recommendation.expiration %>
</p>

<%= link_to 'Edit', edit_user_recommendation_path(@recommendation.user, @recommendation.id) %> |
<%= link_to 'Back', user_recommendations_path %>