<p id="notice"><%= notice %></p>

  <div class="image_upload">
    <% if @image.attached? %>
      <%= image_tag @image, width: 200 %>
    <% end %>
  </div>


<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @user.dob %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
