<%= form_with(model: [@user, @identification], url: identification_user_path, local: true) do |form| %>
  <%= render 'shared/errors', model: identification %>

<div class="field columns">
  <div class="control column is-6">
    <%= form.label :number, class: 'label' %>
    <%= form.text_field :number, class: 'control input' %>
  </div>

  <div class="field column is-2">
    <%= form.label :state, class: 'label' %>
    <%= form.text_field :state,class: 'control input' %>
  </div>
</div>

<div class="field columns">
  <div class="field column">
    <%= form.label :expiration, class: 'label' %>
    <%= form.date_select :expiration,class: 'control input' %>
  </div>

  <div class="field column">
    <%= form.file_field :image_upload %>
  </div>

</div>

<div class="field">
  <% if action_name == 'edit' %>
    <%= link_to 'Cancel', user_path(@user), class: 'button is-warning' %>
    <%= link_to 'Delete', identification_user_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger' %>
    <%= form.submit 'Save', class:'button is-primary' %>
  <% else %>
    <%= link_to 'Cancel', user_path(@user), class: 'button is-warning' %>
    <%= form.submit 'Save', class:'button is-primary' %>
  <% end %>
</div>
<% end %>
